
/* ---------------_TWINKLE BACKGROUND --------------- */

header {
  background-color:rgba(33, 33, 33, 0.9);
  color:#ffffff;
  display:block;
  font: 14px/1.3 Arial,sans-serif;
  height:50px;
  position:relative;
  z-index:5;
}

h2{
  margin-top: 30px;
  text-align: center;

}
header h2{
  font-size: 22px;
  margin: 0 auto;
  padding: 10px 0;
  width: 80%;
  text-align: center;
}
header a, a:visited {
  text-decoration:none;
  color:#fcfcfc;
}

@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
position: fixed;
top:0;
left:0;
right:0;
bottom:0;
width:100%;
height:100%;
display:block;
}

.stars {
background:#000 url(../images/images/stars2.png) repeat top center;
z-index:0;
}

.twinkling{
background:transparent url(../images/images/twinkling.png) repeat top center;
z-index:0;

-moz-animation:move-twink-back 200s linear infinite;
-ms-animation:move-twink-back 200s linear infinite;
-o-animation:move-twink-back 200s linear infinite;
-webkit-animation:move-twink-back 200s linear infinite;
animation:move-twink-back 200s linear infinite;
} 

/* --------------------------------------------------------- */

/* -----------------NEON SIGN ----------------------- */



@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(//fonts.googleapis.com/earlyaccess/notosans.css);

.neonText {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.neonText h1 {
  text-align: center; 
  font-size: 60px;
  font-weight: 600;
  color: #fff;
  text-shadow: 0px 0px 10px #78E0F2, 0px 0px 20px #78E0F2, 0px 0px 30px #78E0F2, 0px 0px 40px #78E0F2, 0px 0px 50px #78E0F2;
  font-family: "Comfortaa", "cursive", "Open Sans", "Noto Sans"
}
.neonText h1 span:nth-child(2) {
  text-shadow: 0px 0px 10px #FC88A8, 0px 0px 20px #FC88A8, 0px 0px 30px #FC88A8, 0px 0px 40px #FC88A8, 0px 0px 50px #FC88A8;
}
.neonText h1 span:nth-child(1) {
  animation: flash 2s infinite ease-in 0.5s;
}

@keyframes flash {
  0% {
    text-shadow: 0px 0px 10px #78E0F2, 0px 0px 20px #78E0F2, 0px 0px 30px #78E0F2, 0px 0px 40px #78E0F2, 0px 0px 50px #78E0F2;
  }
  25% {
    text-shadow: 0px 0px 10px #78E0F2, 0px 0px 20px #78E0F2, 0px 0px 30px #78E0F2, 0px 0px 40px #78E0F2, 0px 0px 50px #78E0F2;
  }
  50% {
    text-shadow: 0px 0px 10px #78E0F2;
  }
  100% {
    color: rgba(255, 255, 255, 0.2);
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.2);
  }
} 

h1 {
  /* font-family: "Open Sans";
  font-weight: 300;
  /* font-size:30px; */
  margin: 15px 0 0;
  color:teal; 
  font-size: 40px;
  font-family: 'Futura';
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
  text-align: center;
}

#neon-button { 
  margin: 15px 15px 0 0;
  font-size: 25px;
  font-family: 'Futura';
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
  text-align: center;
} 
/* ------------------------------------------------------------- */


body {
  margin: 0;
}
button {
  border-radius: 5px;
}

#routeForm {
  text-align: center;
  width: 70%;
  margin: auto;
}

#route-start, #route-end, .button, #calc-route {
  margin: 8px;
  color: white; 
  z-index: 20;
}

#map_canvas {
  width: 70%;
  height: 350px;
  margin: auto;
  z-index: 1; 
  margin-top: 40px;
}
