html,
body {
    /* text-align: left; */

    background: url("../images/concert\ 2.png") no-repeat fixed center;

    background-size: cover;

    /* color: #ffffff; */
  }

.row {
    color: blueviolet;

}

.card-header {
    color: teal;
    font-size: 25px;
    font-display: bold
}
.card {
    color: teal;
    font-size: 25px;
    font-display: bold; 
}

#navTop {
    color: rgb(0, 0, 0);
}

.nav-wrapper {
    color: purple;
}